@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-theme-color: #fff !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input,
textarea {
  outline: none;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  outline: none;
}

.react-datepicker-wrapper input {
  border: 1px solid #888;
  border-radius: 8px;
}

.rbc-toolbar .rtc-btn-group {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  @apply inline-block hover:text-primary hover:border-b-2 hover:border-primary;
}

.active {
  @apply text-primary border-b-2 border-primary;
}

.flex-center {
  @apply flex justify-center items-center;
}

.form-input {
  @apply p-2.5 bg-gray-50 border border-gray-300 rounded-lg w-full;
}
